<table style="width:800px">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Date</th>
      <th>Shift</th>
      <th>Hours worked</th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><b><%=Employee.last.first_name %></b></td>
        <td><b><%=Employee.last.last_name %></b></td>
        <td><b><%=Employee.last.email %></b></td>
        <td><b><%=Employee.last.title %></b></td>
        <td><b><%=Employee.last.date %></b></td>
        <td><b><%=Employee.last.shift_start_time %></b></td>
        <td><b><%=Employee.last.hours_worked %></b></td>
      </tr>

  
  </tbody>
</table>